volumes:
    mysql_data:
    romm_resources:
    romm_redis_data:

services:
    romm:
        image: rommapp/romm:latest
        container_name: romm
        restart: unless-stopped
        environment:
            - DB_HOST=romm-db
            - DB_NAME=romm # Should match MARIADB_DATABASE in mariadb
            - DB_USER=root # Should match MARIADB_USER in mariadb
            - DB_PASSWD=supersecretpass # Should match MARIADB_PASSWORD in mariadb
            - ROMM_AUTH_SECRET_KEY=supersecretkey # Generate a key with `openssl rand -hex 32`
            - SCREENSCRAPER_USER=space-cowboy # These are the recommended metadata providers
            - SCREENSCRAPER_PASSWORD=supersecretpassword # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#screenscraper
            - RETROACHIEVEMENTS_API_KEY= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#retroachievements
            - STEAMGRIDDB_API_KEY= # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#steamgriddb
            - HASHEOUS_API_ENABLED=true # https://docs.romm.app/latest/Getting-Started/Metadata-Providers/#hasheous
        volumes:
            - ../../data/romm:/romm/resources # Resources fetched from IGDB (covers, screenshots, etc.)
            - ../../data/rom:/redis-data # Cached data for background tasks
            - ../../data/romm:/romm/library # Your game library. Check https://github.com/rommapp/romm?tab=readme-ov-file#folder-structure for more details.
            - ../../data/romm:/romm/assets # Uploaded saves, states, etc.
            - ../../data/romm:/romm/config # Path where config.yml is stored
        ports:
          - 192.168.1.200:8899:8080
        depends_on:
            romm-db:
                condition: service_healthy
                restart: true

    romm-db:
        image: mariadb:latest
        container_name: romm-db
        restart: unless-stopped
        environment:
            - MARIADB_ROOT_PASSWORD=supersecretpass # Use a unique, secure password
            - MARIADB_DATABASE=romm
            - MARIADB_USER=space-cowboy
            - MARIADB_PASSWORD=supersecretpass
        volumes:
            - mysql_data:/var/lib/mysql
        healthcheck:
            test: [CMD, healthcheck.sh, --connect, --innodb_initialized]
            start_period: 30s
            start_interval: 10s
            interval: 10s
            timeout: 5s
            retries: 5
