services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    environment:
      TZ: "America/Sao_Paulo"
    network_mode: host
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ../../data/nginx-pm/data:/data
      - ../../data/nginx-pm/letsencrypt:/etc/letsencrypt
