services:
  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Americas/Sao_Paulo
      - DELUGE_LOGLEVEL=error #optional
    volumes:
      - ../../data/deluge/config:/config
      - ../../data/deluge/downloads:/downloads
    ports:
      - 8112:8112
      - 6881:6881
      - 6881:6881/udp
      - 58846:58846 #optional
    restart: unless-stopped
    labels:
      - io.portainer.accesscontrol.public
